@{
    Layout = "_AdminLayout";
    var products = ViewData["products"] as List<Product>;
    var categories = ViewData["categories"] as List<Category>;
}

<div class="products-container">
    @foreach (var product in products!)
    {
        <div class="product-card">
            <img src="/@product.ImagePath" alt="@product.Name img">
            <div class="p-1">
                <h4>@product.Name</h4>
                <h4>@product.Description</h4>
                <h4>@product.Price</h4>
                <h4>@product.Category.Name</h4>
                <div class="d-flex justify-content-between">
                    <a asp-action="DeleteProduct" asp-route-id="@product.Id" asp-controller="Product">Delete</a>
                    <a asp-action="UpdateProduct" asp-route-id="@product.Id" asp-controller="Product">Update</a>
                </div>
            </div>
            
            
        </div>
    }
</div>
