@{
    Layout = "_Layout";
    var products = ViewData["products"] as List<Product>;
    var categories = ViewData["categories"] as List<Category>;
}

<div class="header">
    <form asp-action="FilterByCategory" asp-controller="Product" method="post">
        <select name = "categoryId" asp-items="new SelectList(categories,nameof(Category.Id),nameof(Category.Name))"></select>
        <button type="submit">Filter by category</button>
    </form>
</div>

<div class="products-container">
    @foreach (var product in products!)
    {
        <div class="product-card">
            <img src="@product.ImagePath" alt="@product.Name img">
            <h4>@product.Name</h4>
            <h4>@product.Description</h4>
            <h4>@product.Price</h4>
            <h4>@product.Category.Name</h4>
            <a asp-action="AddToCartProduct" asp-route-id = "@product.Id" asp-controller="Product">Add to cart</a>
        </div>
    }
</div>
